body {
    font-family: 'OCR A Std', monospace;
    background-color: #d0ffc9;
    margin: 0;
}


.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
}

.menu-title{
    margin-right: 60px;
}

.search-bar{
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    width: 400px;
}

.settings-image{
    max-width: 2%;
    height: auto;
    margin-right: 20px;
    color: white;
}